[Desktop Entry]
Encoding=UTF-8
Name=UPS monitor
Comment=View UPS battery level and power source
GenericName=UPS monitor
Name[es]=Monitor de SAI
Comment[es]=Ver el nivel de carga del SAI y la fuente de alimentación 
GenericName[es]=Monitor de SAI
Exec=ups-monitor
Icon=ups-monitor
Terminal=false
Type=Application
Categories=X-Red-Hat-Base;Application;System;
